<%= form_with(model: pin, local: true) do |form| %>
  <% if pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% pin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="form-grup">
  <div class="field">
    <%= form.label :name, "Name:" %>
    <%= form.text_field :name,  :class=>'form-control', :placeholder => "Name of Pin" %>
  </div>
   </div>
<div class="form-grup">
  <div class="field">
    <%= form.label :photo,"Photo:" %>
    <%= form.text_field :photo, id: :pin_photo, :class=>'form-control', :placeholder => "URL de la Foto" %>
  </div>
   </div>
<div class="form-grup">
  <div class="field">
    <%= form.label :description, "Description" %>
    <%= form.text_area :description, id: :pin_description,:class=>'form-control', :row=>"10",:cols=>"30" %>
  </div>
   </div>
  

  <div class="actions">
    <%= form.submit "Create", :class => "btn btn-primary"%>
  </div>
   </div>
<% end %>
